#page-header{
    background-image: linear-gradient(to right, #1f345b, #171e36);
    color: #fff;
}

.mobile{
    > p{
        width: 10%;
        float: left;
    }

    > img{
        width: 50%;
        padding: 0 15%;
        float: left;
    }
}